
.searchBarCon {
    /* border: 1px solid sandybrown; */
    position: relative;
    margin-top: 2rem;
}

.searchInp {
    width: 99%;
    padding: 0.3rem;
    border-radius: 0.5rem;
}


.container {
    /* border: 1px solid sandybrown; */
    display: flex;
    gap: 5rem;
    width: 62.5rem;
    flex-wrap: nowrap;
}

/* .filCon {
    border: 1px solid rgb(241, 232, 225);
    margin-top: 3rem;
    font-size: larger;
    height: 2rem;
    padding: 0.2rem;
} */


.projBtnCon {
    /* border: 1px solid greenyellow; */
    width: 36rem;
    display: flex;
    justify-content: end;
}


.newProjBtn {
    background-color: oklch(54.6% 0.245 262.881);
    color: white;
    height: 2rem;
    border-radius: 0.3rem;
    margin-top: 3.3rem;
    /* margin-left: 5rem; */

}

.newProjBtn:hover {
    background-color: oklch(62.3% 0.214 259.815);
}

.projCard {
    /* border: 1px solid red; */
    width: 20rem;
    height: 17rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 0.1rem;
    /* background-color: oklch(89.4% 0.057 293.283); */
    background-color: oklch(96.9% 0.016 293.756);
}

.projsCon {
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;

}

.tasksCard {
    /* border: 1px solid fuchsia; */
    height: 13rem;

}

.modal-overlay {
    position: fixed;
    /* Sticks to viewport, not inside a container */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    /* Dim background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* Above other content */
}

.modal-content {
    background: white;
    padding: 20px;
    width: 23rem;
    border-radius: 8px;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.24);
    min-width: 320px;
    max-width: 90vw;
    /* height: 45rem; */
}

.fieldCon {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    padding: 1rem 0;
}

.projName {
    /* border: 1px solid blue; */
    padding-bottom: 1rem;

}

.inp {
    margin-top: 0.2rem;
    width: 22rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.desInp {
    padding-bottom: 3rem;

}

.margtop {
    margin-top: 1rem;
}

.projFormBtns {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    /* border: 1px solid blue; */
}

.cBtn {
    border-radius: 0.3rem;
}

.cancelBtn {
    background-color: oklch(44.6% 0.043 257.281);
    /* border: 1px solid blue; */
    padding: 0.5rem 0.5rem;
    color: white;

}

.cancelBtn:hover {
    background-color: oklch(55.1% 0.027 264.364);

}

.creatBtn {
    background-color: oklch(54.6% 0.245 262.881);
    padding: 0.5rem 0.5rem;
    color: white;
}

.creatBtn:hover {
    background-color: oklch(62.3% 0.214 259.815);
}


.taskForm {
    display: flex;
    flex-direction: column;

}

.field {
    /* border: 1px solid salmon; */
    padding-bottom: 0.2rem;
}

.remSpace {
    padding-bottom: 0.2rem;
}

.inpField {
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    width: 23rem;
}

.userInpfield {
    border-radius: 0.3rem;
    /* border: 1px solid black; */
    font-size: 0.9rem;
    width: 22.3rem;
    padding: 0.3rem;
}

.leftSide {
    justify-content: end;
}

.selInp {
    width: 98%;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid black;
}

.createTskTitle {
    margin: 0; 
}

.modConPadding {
    padding: 0.3rem;
}

