/* :root {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
} */
.OuterCon {
    
    border: 1px solid rgb(238, 32, 5);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}
.navbar {
    border: 1px solid blue;
    width: 20rem;
    height: auto;

}

.projTasksCon {
    border: 1px solid blue;
    width: 80rem;
    height: auto;
}

.searchBarCon {
    border: 1px solid sandybrown;
    position: relative;
}

.searchInp {
    width: 95%;
    padding: 0.3rem;
}


.container {
    display: flex;
    gap: 4rem;
}

.filCon {
    border: 1px solid rgb(244, 190, 143);
    padding-top: 3rem;
     /* display: flex; */
    /* flex-direction: row; */
    /* width: 15rem; */
    /* gap: 1rem; */

}

.select {
    margin-left: 1rem;
}