/* :root {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
} */





.searchBarCon {
    border: 1px solid sandybrown;
    position: relative;
    margin-top: 2rem; 
}

.searchInp {
    width: 95%;
    padding: 0.3rem;
    border-radius: 0.5rem;
}


.container {
    border: 1px solid sandybrown;
    display: flex;
    gap: 2rem;
    width: 65rem;
    flex-wrap: nowrap;
}

/* .filCon {
    border: 1px solid rgb(241, 232, 225);
    margin-top: 3rem;
    font-size: larger;
    height: 2rem;
    padding: 0.2rem;
} */

.newProjBtn {
    background-color: oklch(54.6% 0.245 262.881);
    color: white;
    height: 2rem;
    border-radius: 0.3rem;
    margin-top: 3.3rem;
    margin-left: 35rem;
    
}

.newProjBtn:hover {
    background-color: oklch(62.3% 0.214 259.815);  
}

.projCard {
    border: 1px solid red;
    width: 25rem;
    height: 20rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    /* background-color: oklch(89.4% 0.057 293.283); */
    background-color:oklch(96.9% 0.016 293.756);
}

.projsCon {
    display: flex;
    flex-wrap: wrap;

}

.tasksCard {
    border: 1px solid fuchsia;
    height: 13rem;

}