.sortByCon {
    border: 1px solid salmon;
    width:62.9rem;
    height:2rem;
    display: flex;
    gap: 8rem;
    margin-top: 1rem;

}

.prioritiesNameCon {
    display: flex;
    gap: 1rem;
    /* width: 40rem; */
}

.butn {
    border-radius: 0.4rem;
    font-size: small;
    
}

.text{
    font-size: 1.5rem;
}


.filterCon {
    margin-top: 0;
    
   
}


.sortFilContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid green; 
    height: 3rem;
}


.seleBox {
    font-size: small;
    /* margin-bottom: 4rem; */
    /* padding-bottom: rem; */


    border: 1px solid blue
}

.taskBtnCon {
    padding-left: 0;
    border: 1px solid purple; 
    width: 14.9rem;
    display: flex;
    justify-content: end;
}

.taskBtn {
    margin-top: 0;
    border-radius: 0.5rem;
    width: 8rem;
    height: 2rem;
background-color: oklch(48.8% 0.243 264.376);
color: white;
}

.taskBtn:hover{
    background-color: oklch(54.6% 0.245 262.881);
}


.tasksInfoTable {
    display: flex;
    border: 2px solid rgb(216, 238, 13);
    width: 63rem;
    height: auto;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

.box {
    border: 1px solid gray;
    width: 20rem;
    /* height: 14rem; */
    /* padding: 0.rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.boxesBorder{
    border: 1px solid gray;
    width: 13rem;

}

.boxCont {
    padding-left: 1.9rem;
    margin: 0.2rem 0; 
}

.tableTitle {
    /* border: 1px solid green; */
    background-color: aliceblue;
    margin: 0.3rem 0;
    margin-top: 0.4rem;
  
}