.detailHeadTitle {
    display: flex;
    justify-content: center;
    /* border: 1px solid burlywood; */
}

.detailContainer {
    background-color: antiquewhite;
    width: 25rem;
    padding: 1rem;
    height: auto;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskCont {
    display: flex;
    justify-content: center;
}

.fielStyl{
    padding: 0.2rem; 
}

.editBtn {
    background-color:  oklch(54.6% 0.245 262.881);
    color: white; 
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.editBtn:hover{
    background-color: oklch(62.3% 0.214 259.815);
    border-radius: 1rem;
}