.detailHeadTitle {
    display: flex;
    justify-content: center;
    /* border: 1px solid burlywood; */
}

.detailContainer {
    background-color: antiquewhite;
    width: 25rem;
    padding: 1rem;
    height: auto;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskCont {
    display: flex;
    justify-content: center;
}

.fielStyl{
    padding: 0.2rem; 

}