.cardCon {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;


}


.teamCard {
    border: 1px solid rgb(255, 141, 47);
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: oklch(97.7% 0.017 320.058);
}


.userProf {
    /* border: 1px solid gray; */
    display: flex;
    /* position: relative; */


}

.prof {
    /* border: 1px solid gray; */
    /* padding:0.5rem; */
    width: 2rem;
    height: 2rem;
    background-color: rgb(241, 192, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11rem;
    font-weight: bold;
    font-size: 1.2rem;
    /* position: absolute; */
}

.con {
    display: flex;
    justify-content: space-between;
}

.teamBtn {
    width: 8rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin-top: 3.2rem;
    background-color: oklch(48.8% 0.243 264.376);
    color: white;
}

.teamBtn:hover {
    background-color: oklch(54.6% 0.245 262.881);
}