.workasana {
  /* color: oklch(54.1% 0.281 293.009); */
  color: oklch(51.1% 0.262 276.966);
  font-size: 1.9rem;
  font-weight: bolder;
}


.OuterCon {

  border: 1px solid rgb(238, 32, 5);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

}


.navbar {
  border: 1px solid blue;
  width: 15.1rem;
  height: auto;
  background-color: oklch(94.3% 0.029 294.588);
}

.projTasksCon {
  border: 1px solid blue;
  width: 63rem;
  height: auto;
}

.filCon {
  border: 1px solid gray;
  margin-top: 3.3rem;
  font-size: larger;
  height: 1.5rem;
  padding: 0.2rem;
  background-color: rgb(233, 237, 241);
  border-radius: 0.5rem;

}


.select {
  margin-left: 1rem;
  border-color: rgb(233, 237, 241);
  ;
}


.headText {
  font-size: 2.5rem;
}