/* #root { */
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
/* } */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */





.workasana {
    /* color: oklch(54.1% 0.281 293.009); */
    color: oklch(51.1% 0.262 276.966);
    font-size:1.9rem;
    font-weight:bolder;
} 


.OuterCon {
    
    border: 1px solid rgb(238, 32, 5);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}


.navbar {
    border: 1px solid blue;
    width: 20rem;
    height: auto;
}

.projTasksCon {
    border: 1px solid blue;
    width: 83rem;
    height: auto;
}


